@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-800;

    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
  }
}
